body {
    background: gray;
}

.subtitulo {
    color: rgb(34, 34, 34)
}

#titulo {
    color: rgb(34, 34, 34);
}

.foto-perfil {
    width: 300px;
    border: 5px double white; /* shorthand */
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 800px;
    

    /*
    border-width: 5px;
    border-style: double;
    border-color: black;
     */ 
}