* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: cover;
    color: white;
}

.profile {
    margin-top: 100px;
    text-align: center;
}

.profile h1 {
    font-size: 65px;
    padding-bottom: 20px;
}

.profile h2 {
    font-size: 40px;
    padding-bottom: 35px;
}

.profile h3 {
    font-size: 30px;
}

.profile h2, h3 {
    font-weight: 700;
}

.form {
    padding: 20px;
}

.form input {
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 24px;
    padding: 15px 15px;
    height: 25px;
    width: 740px;
}

input[type="checkbox" i] { 
    width: 25px;
    margin: 20px 10px;
}

.checktext {
    font-size: 20px;
}

a {
    text-decoration: none;
}
.button {
    border: rgb(0, 140, 255);
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    padding-top: 13px;
    padding-bottom: 17px;
    height: 60px;
    width: 760px;
    background: rgb(0, 140, 255);
}

.button:hover {
    background: rgb(0, 115, 209);
}


