
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
    background: black;
    box-shadow: 0 0 10px black;
    padding: 0 20px;    
}

.logo {
    color: white;
    text-transform: lowercase;
    letter-spacing:-3px;
}

.logo span:first-child{
    color: #5900ff;
}

.logo span:last-child {
    font-size: 12px ;
    letter-spacing: normal;
}

.menu {
    display: flex;
}

.menu li {
    position: relative;
    list-style: none;
}

.menu li a {
    padding: 17px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
    display: block;
}

.menu > li:hover {
    background: #5900ff;
}

.menu > li:hover > .submenu,
.submenu > li:hover > .submenu {
    display: block;
}    

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #5900ff;
    min-width: 110%;
}

.submenu li:hover {
    background: #4600c9;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}